{% extends 'base.html.twig' %}

{% block title %}Bonjour{% endblock %}

{% block body %}
    <header class="py-5 bg-primary text-center">
        <h1>Notre forum</h1>
        <p class="lead">{{ subtitle }}</p>
        <a href="{{ path('article') }}" class="btn btn-dark text-white ">article</a>
        <a href="{{ path('rules') }}" class="btn btn-dark text-white ">Rules</a>
    </header>
{% endblock %}
