{% extends 'base.html.twig' %}

{% block title %}Règles{% endblock %}

{% block body %}
    <header class="py-5 bg-primary text-center">
        <h1>Notre forum</h1>
        <a href="{{ path('home') }}" class="btn btn-dark text-white ">Homepage</a>
        <a href="{{ path('article') }}" class="btn btn-dark text-white ">article</a>
    </header>
        <h2>Règles du forum:<h2>
{% endblock %}
