<header class="py-5 bg-primary text-center">
        <h1>Blog testsymfony</h1>
        <p class="lead">{{ subtitle }}</p>
        <a href="{{ path('home') }}" class="btn btn-dark text-white ">Homepage</a>
        <a href="{{ path('article') }}" class="btn btn-dark text-white ">article</a>
        <a href="{{ path('add') }}" class="btn btn-dark text-white ">Add article</a>
    </header>